.footer {
  padding-top: 100px;
  padding-bottom: 117px;
  @media all and (max-width: 841px) {
    padding-top: 40px;
    padding-bottom: 67px;
  }
  @media all and (max-width: 429px) {
    padding-bottom: 32px;
    padding-top: 24px;
  }

  &__wrapper {
    display: flex;
    gap: 179px;
    @media all and (max-width: 841px) {
      display: block;
    }
  }

  .logo {
    margin-bottom: 40px;
    min-height: 41px;
    @media all and (max-width: 841px) {
      margin-bottom: 24px;
    }
    @media all and (max-width: 429px) {
      margin-bottom: 8px;
    }
  }

  &__about {
    max-width: 300px;
    width: 100%;
    @media all and (max-width: 1041px) {
      max-width: 430px;
    }
    @media all and (max-width: 841px) {
      max-width: 430px;
    }

    .description {
      color: gray;
      margin-bottom: 64px;
      @media all and (max-width: 841px) {
        margin-bottom: 24px;
      }
      @media all and (max-width: 429px) {
        margin-bottom: 8px;
      }

      &:last-of-type {
        margin-bottom: 0;
        @media all and (max-width: 841px) {
          margin-bottom: 48px;
        }
        @media all and (max-width: 429px) {
          margin-bottom: 32px;
        }
      }
    }
  }

  &__navigation {
    display: flex;
    gap: 96px;
    @media all and (max-width: 509px) {
      gap: 56px;
    }
    @media all and (max-width: 429px) {
      flex-wrap: wrap;
      align-items: center;
      gap: 24px;
    }

    .navigation-col {
      display: flex;
      flex-direction: column;
      width: 150px;
      @media all and (max-width: 429px) {
        width: 100%;
        align-items: center;
      }

      &__link {
        color: $gray;
        max-width: 120px;
      }

      &__item-badge {
        margin-right: -71.4px;
      }

      &__item {
        margin-bottom: 40px;
        min-height: 30px;
        position: relative;
        display: flex;
        align-items: center;
        @media all and (max-width: 429px) {
          margin-bottom: 12px;
          min-height: auto;
        }

        &:first-of-type {
          margin-bottom: 32px;
          @media all and (max-width: 429px) {
            margin-bottom: 8px;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &:not(:first-of-type):hover {
          color: $black;
        }
      }

      &__badge {
        margin-left: 8px;
        width: 71.4px;
        max-height: 30px;
      }

      &__title {
        font-weight: 700;
        color: $black;
        min-height: 36px;
        @media all and (max-width: 429px) {
          min-height: auto;
        }
      }
    }
  }

  .badge {
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    color: $dark_blue;
    background-color: $green;
    padding: 1px 14px;
    border-radius: 120px;
  }
}