* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a, button {
  transition: all .3s;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: contain;
}

.container {
  padding: 0 16px;
  max-width: 1232px;
  margin: 0 auto;
}

.text-xs {
  font-size: 16px;
  line-height: 28px;
}

.text-s {
  font-size: 20px;
  line-height: 32px;
}

.text-xxxl {
  font-size: 64px;
  line-height: 84px;
}

.text-xxl {
  font-size: 48px;
  line-height: 72px;
}

.title {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
}

.logo__title {
  font-weight: 700;
  font-size: 43px;
  line-height: 34px;
}

.subtitle {
  font-size: 48px;
  line-height: 72px;
}

button {
  font-family: 'Open Sans', sans-serif;
  background: none;
  cursor: pointer;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $dark_blue;
  border-radius: 56px;
}

input {
  font-size: 20px;
  line-height: 32px;
  color: $black;
  background: $white;
  border: 2px solid $white;
  border-radius: 240px;
  font-weight: 400;

  &::placeholder {
    color: $black;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 2px solid $white;
  -webkit-text-fill-color: $black;
  background-color: $white !important;
  -webkit-box-shadow: 0 0 0 0 inset;
  transition: background-color 5000s ease-in-out 0s;
}